*{
    
    background-color: black;
    color:white;
}

/* pequeno */
@media(min-width: 300px)
{
    .gta{
        grid-template-areas: 
        "cab"
        "menu"
        "not"
        "cont"
        "jaba"
        "rod"
        ;
        grid-template-rows: 100px 40px auto auto auto 60px ;
        grid-template-columns: 300px;
        gap:10px;
    }
}

/* Médio */
@media(min-width: 600px)
{
    .gta{
        grid-template-areas: 
        "cab cab"
        "menu menu"
        "not cont"
        "jaba jaba"
        "rod rod"
        ;
        grid-template-rows: 100px 40px auto auto 60px;
        grid-template-columns: 200px 600px 100px;
        gap:10px;
    }
}

/* grande */
@media(min-width: 900px)
{
    .gta{
        grid-template-areas: 
        "cab cab cab"
        "menu menu menu"
        "not cont jaba"
        "rod rod rod"
        ;
        grid-template-rows: 100px 40px auto 60px ;
        grid-template-columns: 200px 600px 100px;
        gap:10px;
    }
}

.pai{
    display: grid;
}

.cab{
    grid-area: cab;
    background-color: #141CA8;
}

.menu{
    grid-area: menu;
    background-color: chartreuse;
}

.not{
    grid-area: not;
    background-color: peachpuff;
}

.cont{
    grid-area: cont;
    background-color: coral;
}

.jaba{
    grid-area: jaba;
    background-color: aqua;
}

.rod{
    grid-area: rod;
    background-color: #8718A8;
}