@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
  font-family: 'Montserrat', Arial, Verdana, sans-serif;
  background-color: #f8f6f6;
  margin: 0;
}

.cabecalho {
  display: grid;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
  background-color: #5272ff18;
  border-radius: 5px;
}

/* padrão (mobile-first) */
.cabecalho {
  grid-template-areas:
    "logo"
    "busca"
    "actions"
    "menu";
  grid-template-columns: 1fr;
}

/* Telas médias */
@media (min-width: 600px) {
  .cabecalho {
    grid-template-areas:
      "logo busca"
      "actions menu";
    grid-template-columns: 2fr 1fr;
  }
}

/* Telas grandes */
@media (min-width: 900px) {
  .cabecalho {
    grid-template-areas:
      "logo busca actions menu";
    grid-template-columns: 260px 1fr auto auto;
  }
}

/* Atribuição das áreas */
.logo {
  grid-area: logo;
  display: flex;
  align-items: center;

}
/*padronizando a logo*/
.logo img {
  min-width: 160px;
  max-width: 100%;
}
.container-busca {
   grid-area: busca;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  max-width: 600px; /* limite de largura */
  width: 100%;
  margin: 0 auto; /* centraliza se tiver espaço */
}
/*estilização area interna busca*/
.container-busca input {
  border: none;
  background: transparent;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}
/*estilo do botão (lupinha)*/
.container-busca button {
  background: white;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/*pra deixar a area de cadastro arrumada*/
.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
/*design do botão*/
.cadastro-btn {
  background-color: #cba4f9;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}
/*deixando o menu na direita da pag*/
.menu-icon {
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
}
.menu-icon i {
  font-size: 2rem;
  cursor: pointer;
}

/* Área principal do conteúdo */
.conteudo {
  display: grid;
  grid-template-areas:
    "titulo"
    "cards";
  gap: 1rem;
  padding: 2rem;
}

/* Responsivo para telas maiores */
@media (min-width: 600px) {
  .conteudo {
    grid-template-areas:
      "titulo titulo"
      "cards cards";
    grid-template-columns: 1fr 1fr;
  }
}

.titulo {
  grid-area: titulo;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
/*onde vai ficar os cards da instituição*/
.cards {
  grid-area: cards;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

